<div *ngIf="loading else loaded" class="loader"></div>
<ng-template #loaded>
    <div class="container mt-3">
        <div class="row">
            <ng-container *ngFor="let item of filterCategory | filter:searchKey:'item_name'">
                <div class="col-sm-3 mb-2">
                    <div class="card px-4 py-2">
                        <img class="card-img-top img-fluid"
                            src="../../../assets/images/vegitables.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"
                                class="card-title">{{item.item_name}}</h5>
                            <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"
                                class="card-text">{{item.item_name}}</p>
                            <p><strong>Price:</strong> {{item.price | currency:'INR'}}
                                <span class="text-danger" *ngIf="item.price <= 100"><small>No Discount</small> </span>
                                <span class="text-success" *ngIf="(item.price >= 101) && (item.price <= 500)"><small>10%
                                    Discount</small></span>
                                <span class="text-success" *ngIf="item.price > 500"><small>20% Discount</small></span>
                            </p>
                            <button class="btn btn-block btn-primary" (click)=addtocart(item)>Add to cart</button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</ng-template>